client/shop/.git_disabled/*
server/uploads/*
AI/item_desc_model_epoch_1.pth
AI/item_desc_model_epoch_2.pth
AI/item_desc_model_epoch_3.pth
AI/item_desc_model_epoch_4.pth
AI/item_desc_model_epoch_5.pth
AI/item_desc_model_final.pth
AI/__pycache__/*
flutter/docs/*
server/logs/*

server/uploads/thumbs/*
server/uploads/videos/*
build/*
server/controllers/events.go.858128666580865196
server/model/courses.go.3531606455373040533
server/workers/play_worker.go.8432565024619186638
# Android signing
flutter_app/android/key.properties
flutter_app/android/keystore/
flutter_app/android/app/google-services.json
flutter_app/ios/Runner/GoogleService-Info.plist
server/secrets/
server/secrets/*
.gocache/*
.vscode/*
.claude/*
.github/*
server/scripts/start_server_with_lightrag.ps1
server/scripts/start_server_with_lightrag.sh
flutter_app/assets/.env

# env files
server/.env
